/*
            NOTE: Commenting is a bit different in CSS.
            They start with forward-slash + asterisk
            and end with back-slash + asterisk.
    */

    /* h1 heading tag */
    html,body{
        margin: 0; /* Space from this element (entire page) and others*/
        padding: 0; /*space from content and border*/
        background-color: #efeee7;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #33333;
    
    
    
    }

    h1 {
        /* Put a 15-pixel margin at the bottom of the heading. */
        margin-bottom: 15px;
        /* Change the size of your font to 60 pixels high. */
        font-size: 28px;
        /* This will color the heading font white. */
        color: white;
        /* Align the text to the center of its enclosing element (e.g. div). */
        text-align: center;
        /* Underline the text. */
        text-decoration: underline;
        /* The background of the heading element will now be black. */
        background-color: black;
    
    }
    /* h2 heading tags */
    
    h2 {
        /* Put a 15-pixel margin at the top of all h2 headings. */
        margin-top: -140px;
        margin-bottom: 15px;
        font-size: 20px;
        text-align: left;
        width: 30%;
        margin-left: 1620px;
    }
    /* h3 heading tags */
    
    h3 {
        margin-top: 15px;
        font-size: 20px;
        text-align: left;
        margin-left: 50px;
    }
    /* All img tags */
    
    img {
        /*
                  Center a block element in the middle of its enclosing tag.
                  When you use the "auto" rule on both left and right margins,
                  your browser will do the math necessary to center a block element.
                  */
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 100px;
        width: 200px;
        height: 200px;
        /* Block display (more on this later) */
        display: block;
    }
    /* all body tags */

    /* All p tags */
    
    p {
        text-align: left;
        font-size: 15px;
        /* Bold the text. */
        font-weight: bold;
        width: 70%;
        margin-left: 270px;
        margin-top: -300px;
    }
    /* All unordered list tags */
    
    name {
        text-align: left;
        font-size: 15px;
        /* Give an element a solid border. */
        /* Render the border 5 pixels thick. *
        /* Include bullets in the content flow. */
        /* More info here: http://www.w3schools.com/cssref/pr_list-style-position.asp */
        list-style-position: inside;
        line-height: 1.5;
        margin-left: 1600px;
        a:link{color: red;}
        
    }